<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏫José María Linares</title>
    <link rel="stylesheet" href="../css/adminstyles.css">
</head>
<body>
    <header>
        <div class="row"><img src="../img/icono.jpg" width="100px" ></div>
        <div class="rowq">
            <h1>José María Linares</h1>
            <p class="slogan">Con orden, trabajo y estudio... Adelante Linares</p>
        </div>
    </header>

        <main>
            <center><h2>Área Administrativa</h2></center><br>
            <section class="grid">
            <a href="admin.comunicados.html" class="box">📢 <br> Comunicados de última hora</a>
            <a href="admin.deportes.html" class="box">⚽ <br> Actividad Deportiva</a>
            
        </section>
        <section class="grid">
            <a href="admin.comentarios.html" class="box">💬 <br> Comentarios</a>
            <a href="admin.blog.html" class="box">📝 <br> Blog Estudiantil</a>
        </section>
        </main>

    <footer>
        <p>&copy; 2025 Unidad Educativa José María Linares</p>
    </footer>
</body>
</html>